{% extends 'base.html' %}
{% block body %}
<h2 class="text-center">영화 <{{movie.title}}> 리뷰 게시판</h2>
<a class="m-1" href="{% url 'community:create' movie.pk %}">NEW</a>
<a href="{% url 'community:index' %}">BACK</a>

<hr/>
<div>
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">USER</th>
        <th scope="col">RANK</th>
        <th scope="col">TITLE</th>
        <th scope="col">UPDATE</th>
        <th scope="col">DETAIL</th>


      </tr>
    </thead>
    <tbody>
    {% for review in movie.review_set.all %}
      <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td><a href="{% url 'accounts:profile' review.user.username %}">{{review.user.username}}</a></td>
        <td>{{ review.rank}}</td>
        <td>{{ review.title}} [{{review.comment_set.count}}]</td>
        <td>{{ review.updated_at}}</td>
        <td><a href="{% url 'community:detail' movie.pk review.pk %}">DETAIL</a></td>
      </tr>
    {% endfor %}

    </tbody>
  </table>
  <hr/>
  </div>

{% endblock %}